body {
    background-color: #ee9b00;
    font-size: 20px; 
    
    font-family:cursive;
    
}

h1 {
    color:#f1c0e8;
    padding-left: 1cm;
}
   .buttons {
       padding-left: 1cm;
       font-family:cursive;
       box-sizing: 2cm;
       
    
   } 
   #num {
    width: 15%;
    font-size: 20px; 
    color: #9b2226;
   }

   #ges {
    width: 5%;
    font-size: 20px; 
    color: #9b2226;
   }